
.card {
    
    width:40%;
    margin-left:10%;
}

#go-to-journals {
    width:auto;
    background-color: #eaf3fa !important;
    color: #86d1cd !important;
    border-color: #86d1cd !important;
}
#go-to-journals:hover {
    background-color: #d0dfeb !important;
}
#go-to-journals a {
    text-decoration:none;
}

.button .login-register, .login-register:active, .login-register:visited {
    background-color: #eaf3fa !important;
    color: #86d1cd !important;
    border-color: #86d1cd !important;
    margin: 8px;
    width: 120px;
    margin:0 auto;
    display: block;
}

.login-register:hover {
    background-color: #d0dfeb !important;
}



.card {
    margin-right: auto;
    margin-left: auto;
}

.card-header {
    background-color: #86d1cd;
    position: center;
    text-align: center;
    font-family: "Copperplate";
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
}

.headings {
    background: #eaf3fa;
}

.headings h1 {
    font-family: "Trattatello", "Brush Script MT", "Papyrus";
    padding: 10px;
    text-align: center;
    color: black;
    font-size: 50px;
    font-weight: bold !important;
    z-index: 1;
}

.display-messages {
    margin-left:10px;
}

#promise {
    font-size: 70%;
}

.btn-outline-primary {
    font-size: 80%;
    margin-right:5px;
    margin-left:5px;
    width:auto;
    margin-top:18px;
}
.btn-outline-primary:hover {
    font-weight: normal;
}