<!DOCTYPE html>
<html lang="en">
    <head>
      <!--Icon for Chrome tab-->
      <!-- <link rel="shortcut icon" type="image/x-icon" href="images/logo/QW_logo_transparent_32px.png"/> -->
      <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Journal is an app that reminds you to document your day.">
        <meta charset="utf-8">
        <title>Journal Reminders</title>

        <!--Make consistent across browsers-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <!--Bootstrap-->
        <link href="/css/bootstrap.min.css" rel="stylesheet" media="all">
        <!--Own style-->
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/login-register.css">
    </head>
    <body>
        
        <nav class="headings">
            <h1>Journally</h1>
            <ul>
                <li><a class="btn btn-outline-primary btn-lg" href="/"role="button">Home</a></li>
                <li><a class="btn btn-outline-primary btn-lg" href="login" role="button">Login</a></li>
                <li><a class="btn btn-outline-primary btn-lg" href="register"role="button">Register</a></li>
            </ul>
        </nav>
        <div class="display-messages">
            
        </div>

            <div class="container mt-4">
                <div class="card">
                    <div class="card-header">
                        Login
                    </div>
                    <div class="card-body">
                        <!--send POST requrest, make sure name attribute is present for POST to work!-->
                        <form action="/login/login" method="POST">
                            <div class="form-group">
                            <label for="email">Your Email</label>
                            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">Forgot?</small>
                            </div>
                            <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                            </div>

                            <!--<button type="submit" class="btn btn-primary">Login</button>-->
                            <div class="button">
                                <button type="submit" class="btn btn-outline-primary login-register">Login</button>
                            </div>
                        </form>
                    </div>
                </div>

            <!--receive message from /controllers/auth.js - ERROR or success -->
           {{#if message}}
                {{#if success}}
                <h4 class="alert alert-success mt-4">{{message}}
                    <div>Welcome Home, {{username}}!</div>
                </h4>
                
                <button type="button" class="btn btn-info" id="go-to-journals"><a href="/journals">Take me to my journals</a></button>
                {{else}}
                <h4 class="alert alert-danger mt-4">{{message}}</h4>
                {{/if}}
            {{/if}}
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="github" viewBox="0 0 24 24">
                <path d="M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z"/>
            </symbol>
        </svg>

        <div class="container" id="footer-container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
              <div class="col-md-4 d-flex align-items-center">

                <span class="text-muted">&copy; 2022 Qingyuan & Natalie</span>
              </div>
          
              <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a class="text-muted" href="https://github.com/natalievolk/UofTHacks" target="_blank"><svg class="bi" width="24" height="24"><use xlink:href="#github"/></svg></a></li>
              </ul>
            </footer>
          </div>
    </body>
</html>