<!DOCTYPE html>
<html lang="en">
    <head>
      <!--Icon for Chrome tab-->
      <!-- <link rel="shortcut icon" type="image/x-icon" href="images/logo/QW_logo_transparent_32px.png"/> -->
      <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Journal is an app that reminds you to document your day.">
        <meta charset="utf-8">
        <title>Journal Reminders</title>

        <!--Make consistent across browsers-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <!--Bootstrap-->
        <link href="/css/bootstrap.min.css" rel="stylesheet" media="all">
        <!--Own style-->
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/login-register.css">
    </head>
    <body>
        
        <nav class="headings">
            <h1>Journally</h1>
            <ul>
                <li><a class="btn btn-outline-primary btn-lg" href="/"role="button">Home</a></li>
                <li><a class="btn btn-outline-primary btn-lg" href="login" role="button">Login</a></li>
                <li><a class="btn btn-outline-primary btn-lg" href="register"role="button">Register</a></li>
            </ul>
        </nav>        
        <div class="display-messages">
            <div>Sign up and get reminders to take your journals!</div>
            <div id="promise">We'll never share your personal information</div>
        </div>

        <div class="container mt-4">
            <div class="card">
                <div class="card-header">
                    Register
                </div>
                <div class="card-body">
                    <!--send POST requrest, make sure name attribute is present for POST to work!-->
                    <form action="/auth/register" method="POST">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="first name is okay!">
                        </div>
                        <div class="form-group">
                          <label for="email">Your email</label>
                          <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="we'll never share your email with anyone else.">
                          {{!-- <small id="emailHelp" class="form-text text-muted"></small> --}}
                        </div>
                        <div class="form-group">
                            <label for="cell">Phone number</label>
                            <input type="tel" class="form-control" id="cell" name="cell" aria-describedby="numberHelp" placeholder="A cell number that can receive SMS">
                            <small id="numberHelp" class="form-text text-muted">Only for journal reminder purposes</small>
                        </div>
                        <div class="form-group">
                          <label for="password">Password</label>
                          <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                        </div>
                        <div class="form-group">
                          <label for="passwordConfirm">Confirm Password</label>
                          <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm">
                        </div>
                        <div class="form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1">I agree to the terms and conditions.</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Register!</button>
                    </form>
                </div>
            </div>
            <!--receive message from /controllers/auth.js - error or success -->
           {{#if message}}
                {{#if success}}
                    <h4 class="alert alert-success mt-4">{{message}}</h4>
                    <div><a href="/login">Login</a></div>
                    {{else}}
                    <h4 class="alert alert-danger mt-4">{{message}}</h4>
                {{/if}}
        
            {{/if}}
        </div>
    </body>
</html>